@model IEnumerable<MVC2024.Models.VehiculoModelo>

@{
    ViewData["Title"] = "Busqueda2";
}

<h1>Busqueda2</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>

<form method="get">
    <select id="searchFor" name="searchFor" class="form-control" asp-items="ViewBag.matriculas" onchange="submit()">
        <option value="">Seleccione una matrícula</option>
    </select>


</form>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayName("Matrícula")
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Color)
            </th>
            <th>
                @Html.DisplayName("Modelo")
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Matricula)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Color)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Serie.NomSerie)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>

