@model MVC2024.Models.VehiculoModelo

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>VehiculoModelo</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Matricula)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Matricula)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Color)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Color)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayName("Marca")
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Serie.Marca.Nom_Marca)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayName("Modelo")
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Serie.NomSerie)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
