@page
@model RazorPages1.Pages.Alumnos.Index2Model
@{
    <script>$("select").prop("selectedIndex", 0);</script>
}

<h1>Alumnos</h1>
<form asp-action="edit" asp-controller="application" method="get">
    <div class="input-group">
        <label class="col-sm-2 col-form-label" asp-for="elementoABuscar">Curso: </label>
        <select class='form-select mb-3 me-3' asp-for="elementoABuscar" asp-items="@Html.GetEnumSelectList<Curso>()">
            <option value=null selected>Selecciona curso ...</option>
        </select>
        <button type="submit" class="btn btn-primary mb-3">Busca!</button>
    </div>
</form>
<br />
<br />
<h3>@Model.Alumnos.Count()</h3><!--ponemos la arroba para trabajar con ASP-->
<div class="col-sm-8">
    <!--await Component.InvokeAsync("AlumnosCursoContar")-->
    @await Component.InvokeAsync("AlumnoCurso")
</div>
<div class="card-group">
    @foreach (var alumno in Model.Alumnos)
    //ponemos var por comodidad pero se podría poner Alumno, que sería más específico, pero
    // este lenguaje traga
    {
        var photo = "~/images/" + (alumno.Foto ?? "noimage.jpg");
        <div class="card m-3" style="min-width: 18rem; max-width:30%">
            <div class="card-header">
                <h3>@alumno.Nombre</h3>
            </div>
            <img class="card-img-top mx-auto imageThumbail" asp-append-version="true" src="@photo">
            <div class="card-footer text-center ">
                <!--Aquí creamos un enlace a la pagina de detalles, pasándole un entero con la identificación del alumno-->
                <a asp-page="/Alumnos/Details" asp-route-ID="@alumno.Id" class="btn btn-primary m1">View</a>
                <a asp-page="/Alumnos/Edit" asp-route-ID="@alumno.Id" class="btn btn-primary m1">Edit</a>
                <a asp-page="/Alumnos/Delete" asp-route-ID="@alumno.Id" class="btn btn-danger m-1">Erase</a>
            </div>

        </div>
    }
</div>